CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
build
.vs
/cmake-*
/.idea

# Keep compiled LustrineWrapper.dll
/out/*
!/out/build
/out/build/*
!/out/build/x64-Release
/out/build/x64-Release/*
!/out/build/x64-Release/LustrineWrapper.dll